#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.card {
  padding: 2em;
}





.slider {
  width: 300px;
}
.slider-value {
  font-size: 20px;
  margin-top: 10px;
}
.hello{
  display: flex;
  flex-direction:column
}



.layout{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dive{
  display: flex;
  margin-left:100px; 
  margin-right:10px; 
}

